<!-- <footer>
  <div class="container">
    <div class="row footer-top">
      <div class="col-sm-6 col-xs-6">
        <a class="footer-logo" href="#">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 321.5 85.5" style="enable-background:new 0 0 321.5 85.5;" xml:space="preserve">
            <g>
              <path style="fill:#FFFFFF;" d="M115.6,44.8c0.1,7.9-4.7,15.8-15.6,15.8c-3.8,0-8.4,0-12.2,0V29.6c3.8,0,8.4,0,12.2,0
          		C110.7,29.6,115.4,37.2,115.6,44.8z M93.6,55h6.4c7.1,0,9.9-5.2,9.7-10.2c-0.1-4.8-3-9.7-9.7-9.7h-6.4V55z" />
              <path style="fill:#FFFFFF;" d="M156.8,60.7h-23.3c0-10.4,0-20.8,0-31.1h23.3v5.7h-17.5v7.2h16.8v5.5h-16.8v7h17.5V60.7z" />
              <path style="fill:#FFFFFF;" d="M203,56.8c-3.2,3.2-7.3,4.6-11.8,4.6c-11.6,0-16.4-8-16.5-16c0-8.1,5.2-16.4,16.5-16.4
          		c4.2,0,8.2,1.6,11.4,4.8l-3.9,3.8c-2-2-4.8-2.9-7.5-2.9c-7.5,0-10.8,5.6-10.7,10.8c0,5.2,3,10.5,10.7,10.5c2.7,0,5.8-1.1,7.8-3.2
          		L203,56.8z" />
              <path style="fill:#FFFFFF;" d="M251.1,45.3c-0.1,8-5,16.1-16,16.1s-16-7.9-16-16s5.2-16.4,16-16.4
          		C245.8,28.9,251.2,37.2,251.1,45.3z M224.9,45.4c0.1,5.1,2.9,10.6,10.2,10.6s10.1-5.5,10.2-10.6c0.1-5.2-2.8-11.1-10.2-11.1
          		S224.8,40.2,224.9,45.4z" />
              <path style="fill:#FFFFFF;" d="M269.6,60.7V29.6h5.8v31.1H269.6z" />
              <path style="fill:#FFFFFF;" d="M315.6,29.5h5.9v31.1h-3.6v0l-16.4-21v21h-5.9V29.6h4.8l15.2,19.3V29.5z" />
            </g>
            <g>
              <path style="fill:#FFFFFF;" d="M41.9,65.2V47.8h7.7V37.7h-7.7V20.3l18.9,18.9l7.1-7.1L36.6,0.7l-35.9,42l35.9,42l31.3-31.3
          		l-7.1-7.1L41.9,65.2z M31.8,21.8v41.9l-17.9-21L31.8,21.8z" />
              <g>
                <path style="fill:#FFFFFF;" d="M0.3,42.8L36.6,0.4l31.7,31.7l-7.5,7.5L42.1,20.9v16.6h7.7v10.6h-7.7v16.6L60.8,46l7.5,7.5
          			L36.6,85.2L0.3,42.8z M31.6,63.1V22.5L14.2,42.8L31.6,63.1z" />
                <path style="fill:#FFFFFF;" d="M36.6,0.7l31.3,31.3l-7.1,7.1L41.9,20.3v17.4h7.7v10.1h-7.7v17.4l18.9-18.9l7.1,7.1L36.6,84.8
          			l-35.9-42L36.6,0.7 M31.8,63.7V21.8l-17.9,21L31.8,63.7 M36.5,0l-0.4,0.4l-35.9,42L0,42.8l0.3,0.3l35.9,42l0.4,0.4l0.4-0.4
          			l31.3-31.3l0.4-0.4l-0.4-0.4L61.1,46l-0.4-0.4L60.4,46l-18,18V48.3h7.2h0.5v-0.5V37.7v-0.5h-0.5h-7.2V21.5l18,18l0.4,0.4l0.4-0.4
          			l7.1-7.1l0.4-0.4l-0.4-0.4L36.9,0.4L36.5,0L36.5,0z M14.6,42.8l16.8-19.6v39.2L14.6,42.8L14.6,42.8z" />
              </g>
            </g>
          </svg>
        </a>
      </div>
      <div class="col-sm-2 col-xs-6">
        <h6>Partner</h6>
        <ul class="foot-links">
          <li>
            <a href="#">Decoin.io</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <h6>Legal</h6>
        <ul class="foot-links">
          <li>
            <a href="#">Term of Service</a>
          </li>
          <li>
            <a href="#">API Documents</a>
          </li>
          <li>
            <a href="#">Apply For Listing</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <h6>Help</h6>
        <ul class="foot-links">
          <li>
            <a href="#">Announcement</a>
          </li>
          <li>
            <a href="#">Fees Disclosure</a>
          </li>
          <li>
            <a href="#">Security Fund</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <div class="col-sm-6">
          <span class="copyright-text">
            Copyright © 2018, Decoin
            <span>All rights reserved.</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer> -->

<!-- if user is not login -->

<footer class="footer" *ngIf="!isUserLogin">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12 foot-logo">
        <a href="{{ basehref }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="198.573" height="36.619" viewBox="0 0 198.573 36.619">
            <defs>
              <style>
                .cls1-ftr,
                .cls2-ftr {
                  fill: #fff
                }

                .cls1-ftr {
                  fill-rule: evenodd
                }
              </style>
            </defs>
            <g id="Artboard-2" transform="translate(250.297 356.541)">
              <g id="Group-2" transform="translate(-250.297 -356.541)">
                <path id="Path-5"
                  d="M21.676 3.53l9.83 8.539-3.535 3.708L20.6 9.315v6.462h2.93v4.9H20.6v6.557l7.371-6.4 3.535 3.947-13.851 11.838L0 18.322 17.655 0l4.021 3.53-6.293 5.785v17.922l-8.375-8.915 8.375-9.006"
                  class="cls1-ftr" />
                <g id="Group" transform="translate(44.825 7.531)">
                  <path id="Shape"
                    d="M19.089 11.6C19.155 16.8 16 21.994 8.826 21.994H.8V1.6h8.026c7.04 0 10.132 5 10.263 10zM4.616 18.31h4.21c4.671 0 6.513-3.421 6.381-6.71-.066-3.158-1.974-6.381-6.381-6.381h-4.21z"
                    class="cls2-ftr" transform="translate(-.8 -1.205)" />
                  <path id="Shape-2"
                    d="M61.829 22.06H46.5V1.6h15.329v3.75H50.316v4.737h11.052v3.618H50.316v4.605h11.513z"
                    class="cls2-ftr" data-name="Shape" transform="translate(-16.435 -1.205)" />
                  <path id="Shape-3"
                    d="M106.318 19.289a10.611 10.611 0 0 1-7.763 3.026c-7.631 0-10.789-5.263-10.855-10.526C87.7 6.46 91.121 1 98.555 1a10.462 10.462 0 0 1 7.5 3.158l-2.566 2.5a6.956 6.956 0 0 0-4.934-1.908 6.688 6.688 0 0 0-7.039 7.105c0 3.421 1.974 6.908 7.039 6.908a7.329 7.329 0 0 0 5.132-2.105z"
                    class="cls2-ftr" data-name="Shape" transform="translate(-30.53 -.999)" />
                  <path id="Shape-4"
                    d="M153.152 11.723c-.066 5.263-3.289 10.592-10.526 10.592S132.1 17.118 132.1 11.789 135.521 1 142.626 1c7.04-.066 10.592 5.394 10.526 10.723zm-17.237.066c.066 3.355 1.908 6.974 6.71 6.974s6.645-3.618 6.71-6.974c.066-3.421-1.842-7.3-6.71-7.3s-6.775 3.879-6.709 7.3z"
                    class="cls2-ftr" data-name="Shape" transform="translate(-45.72 -.999)" />
                  <path id="Shape-5" d="M182.6 22.06V1.6h3.816v20.46z" class="cls2-ftr" data-name="Shape"
                    transform="translate(-62.996 -1.205)" />
                  <path id="Shape-6" d="M221.758 1.5h3.882v20.46h-2.368l-10.79-13.815V21.96H208.6V1.566h3.158l10 12.7z"
                    class="cls2-ftr" data-name="Shape" transform="translate(-71.891 -1.17)" />
                </g>
              </g>
            </g>
          </svg>
        </a>

      </div>
      <div class="col-md-2 col-xs-12">
        <h5>{{'AboutUs' | tx}}</h5>
        <ul>
          <li><a href="../{{langCode}}/aboutus">{{'OurComp' | tx}}</a></li>
          <li><a href="../{{langCode}}/security">{{'Security' | tx}}</a></li>
          <li><a href="https://whitepaper.decoin.io/">{{'Whitepap' | tx}}</a></li>
          <li><a href="../{{langCode}}/dtep">DTEP</a></li>
          <li><a href="../{{langCode}}/wallet">{{'DTEPWal' | tx}}</a></li>
          <li><a href="../{{langCode}}/coins">{{'CoinInfo' | tx}}</a></li>
          <li><a [routerLink]="['/referral']">{{'Referl' | tx}}</a></li>
          <li><a href="../{{langCode}}/announcements">{{'Announcements' | tx}}</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-6">
        <h5>{{'Help' | tx}}</h5>
        <ul>
          <li><a href="../{{langCode}}/support">{{'Support' | tx}}</a></li>
          <li><a href="../{{langCode}}/support">{{'ContUs' | tx}}</a></li>
          <li><a href="../{{langCode}}/support#faq">{{'FAQ' | tx}}</a></li>
          <!-- <li><a href="#">API Documents</a></li> -->
          <li><a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfDtARl_bWx9YzNPw5qzMnsqLdgfr68Z4V6uTia8tIT4m2bHQ/viewform">{{'Addtoken' | tx}}</a>
          </li>
          <!-- <li><a target="_blank" href="https://my.decoin.io/">Transferring Your DTEP's</a></li> -->
          <li><a [routerLink]="['/buy-sell-crypto']">{{'BuywithCreditCard' | tx}}</a></li>

        </ul>
      </div>
      <div class="col-md-2 col-xs-6">
        <h5>{{'Legal' | tx}}</h5>
        <ul>
          <li><a href="../{{langCode}}/fees">{{'Fees' | tx}}</a></li>
          <li><a routerLink="/kyc">{{'KYC' | tx}}</a></li>
          <li><a href="../{{langCode}}/terms">{{'TermsOfSer' | tx}}</a></li>
          <li><a href="../{{langCode}}/privacy">{{'PrivacyPolicy' | tx}}</a></li>
          <li><a href="../{{langCode}}/regulation">{{'Regulation' | tx}}</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-xs-12 foot-multi-lang">
        <h5>{{'Support' | tx}}</h5>
        <!--<div class="dropdown lang-switcher">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown">{{langCode | uppercase}}
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                    x="0px" y="0px" viewBox="0 0 185.344 185.344" style="enable-background:new 0 0 185.344 185.344;"
                    xml:space="preserve" width="12px" height="12px">
                    <g>
                      <g>
                        <path
                          d="M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18    c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0    c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z"
                          fill="#FFFFFF" />
                      </g>
                    </g>
                  </svg>
                </button> -->
        <!--<ul class="dropdown-menu dropdown-menu-right lang-dropdown">
                  <li *ngFor="let item of langList"><a (click)="changeLanguage(item.Code)">{{item.Name}}</a></li>-->
        <!-- <li class="disabled" *ngFor="let item of langList" ><a>{{item.Name}}</a></li> -->
        <!-- <li *ngFor="let item of langList" [ngClass]="{'disabled':item.Code =='ja'}">
                    <a *ngIf="item.Code =='ja'">{{item.Name}}</a>
                    <a *ngIf="item.Code !='ja'" (click)="changeLanguage(item.Code)">{{item.Name}}</a>
                      </li> -->
        <!-- <li><a href="#" data-code="EN">English</a></li>
                  <li class="disabled"><a href="#" data-code="JA">Japanese</a></li> -->
        <!--</ul>
              </div>-->
        <!-- <form class="foot-search" [hidden]="isMobile">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                  x="0px" y="0px" width="30px" height="20px" viewBox="0 0 80.502 80.502"
                  style="enable-background:new 0 0 80.502 80.502;transform: rotate(90deg);" xml:space="preserve">
                  <g>
                    <g id="Zoom_1_">
                      <g>
                        <path
                          d="M80.502,74.658L58.688,52.742c4.193-5.524,6.691-12.416,6.691-19.885c0-18.104-14.664-32.84-32.69-32.84     S0,14.753,0,32.857c0,18.111,14.664,32.848,32.689,32.848c7.643,0,14.674-2.655,20.247-7.088l21.768,21.867L80.502,74.658z      M32.689,58.312c-13.967,0-25.332-11.419-25.332-25.455c0-14.027,11.365-25.446,25.332-25.446     c13.968,0,25.333,11.419,25.333,25.446C58.021,46.894,46.657,58.312,32.689,58.312z"
                          fill="#FFFFFF"></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </form> -->
        <p class="footer-email"><a href="mailto:support@decoin.io">Support@decoin.io</a></p>
      </div>
    </div>
    <div class="foot-botm">
      <div class="row">
        <div class="col-md-4">
          <p><span>©</span> DTEP Security OU</p>
        </div>
        <div class="col-md-8">


          <ul class="social-media">

            <li>
              <a href="#">
                <img src="assets/images/telegram-new.svg" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/youtube-new.svg" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/linkedin.svg" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/facebook.svg" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/twitter.svg" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/images/git.svg" alt="">
              </a>
            </li>
          </ul>
          <div class="footer-volume">
            {{ dateNow() }} 24H {{'Volume' | tx}} &nbsp;<span>{{ usdtTotalVolume() ? usdtTotalVolume() : '' }}</span>
            USDT
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>





































<!-- end of if user is not login -->

<footer class="footer user-login-footer" *ngIf="isUserLogin">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12 foot-logo">
        <a href="{{ basehref }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="198.573" height="36.619" viewBox="0 0 198.573 36.619">
            <defs>
              <style>
                .cls1-ftr,
                .cls2-ftr {
                  fill: #fff
                }

                .cls1-ftr {
                  fill-rule: evenodd
                }
              </style>
            </defs>
            <g id="Artboard-2" transform="translate(250.297 356.541)">
              <g id="Group-2" transform="translate(-250.297 -356.541)">
                <path id="Path-5"
                  d="M21.676 3.53l9.83 8.539-3.535 3.708L20.6 9.315v6.462h2.93v4.9H20.6v6.557l7.371-6.4 3.535 3.947-13.851 11.838L0 18.322 17.655 0l4.021 3.53-6.293 5.785v17.922l-8.375-8.915 8.375-9.006"
                  class="cls1-ftr" />
                <g id="Group" transform="translate(44.825 7.531)">
                  <path id="Shape"
                    d="M19.089 11.6C19.155 16.8 16 21.994 8.826 21.994H.8V1.6h8.026c7.04 0 10.132 5 10.263 10zM4.616 18.31h4.21c4.671 0 6.513-3.421 6.381-6.71-.066-3.158-1.974-6.381-6.381-6.381h-4.21z"
                    class="cls2-ftr" transform="translate(-.8 -1.205)" />
                  <path id="Shape-2"
                    d="M61.829 22.06H46.5V1.6h15.329v3.75H50.316v4.737h11.052v3.618H50.316v4.605h11.513z"
                    class="cls2-ftr" data-name="Shape" transform="translate(-16.435 -1.205)" />
                  <path id="Shape-3"
                    d="M106.318 19.289a10.611 10.611 0 0 1-7.763 3.026c-7.631 0-10.789-5.263-10.855-10.526C87.7 6.46 91.121 1 98.555 1a10.462 10.462 0 0 1 7.5 3.158l-2.566 2.5a6.956 6.956 0 0 0-4.934-1.908 6.688 6.688 0 0 0-7.039 7.105c0 3.421 1.974 6.908 7.039 6.908a7.329 7.329 0 0 0 5.132-2.105z"
                    class="cls2-ftr" data-name="Shape" transform="translate(-30.53 -.999)" />
                  <path id="Shape-4"
                    d="M153.152 11.723c-.066 5.263-3.289 10.592-10.526 10.592S132.1 17.118 132.1 11.789 135.521 1 142.626 1c7.04-.066 10.592 5.394 10.526 10.723zm-17.237.066c.066 3.355 1.908 6.974 6.71 6.974s6.645-3.618 6.71-6.974c.066-3.421-1.842-7.3-6.71-7.3s-6.775 3.879-6.709 7.3z"
                    class="cls2-ftr" data-name="Shape" transform="translate(-45.72 -.999)" />
                  <path id="Shape-5" d="M182.6 22.06V1.6h3.816v20.46z" class="cls2-ftr" data-name="Shape"
                    transform="translate(-62.996 -1.205)" />
                  <path id="Shape-6" d="M221.758 1.5h3.882v20.46h-2.368l-10.79-13.815V21.96H208.6V1.566h3.158l10 12.7z"
                    class="cls2-ftr" data-name="Shape" transform="translate(-71.891 -1.17)" />
                </g>
              </g>
            </g>
          </svg>
        </a>

      </div>
      <div class="col-md-2 col-xs-12">
        <h5>{{'AboutUs' | tx}}</h5>


        <ul>
          <li><a href="../{{langCode}}/aboutus">{{'OurComp' | tx}}</a></li>
          <li><a href="../{{langCode}}/security">{{'Security' | tx}}</a></li>
          <li><a href="https://whitepaper.decoin.io/">{{'Whitepap' | tx}}</a></li>
          <li><a href="../{{langCode}}/dtep">DTEP</a></li>
          <li><a href="../{{langCode}}/wallet">{{'DTEPWal' | tx}}</a></li>
          <li><a href="../{{langCode}}/coins">{{'CoinInfo' | tx}}</a></li>
          <li><a [routerLink]="['/referral']">{{'Referl' | tx}}</a></li>
          <li><a href="../{{langCode}}/announcements">{{'Announcements' | tx}}</a></li>
        </ul>

      </div>

      <div class="col-md-2 col-xs-6">
        <h5>{{'Help' | tx}}</h5>


        <ul>
          <li><a href="../{{langCode}}/support">{{'Support' | tx}}</a></li>
          <li><a href="../{{langCode}}/support/send-request">{{'ContUs' | tx}}</a></li>
          <li><a href="../{{langCode}}/support#faq">{{'FAQ' | tx}}</a></li>
          <!-- <li><a href="#">API Documents</a></li> -->
          <li><a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfDtARl_bWx9YzNPw5qzMnsqLdgfr68Z4V6uTia8tIT4m2bHQ/viewform">{{'Addtoken' | tx}}</a>
          </li>
          <li><a [routerLink]="['/buy-sell-crypto']">{{'BuywithCreditCard' | tx}}</a></li>
          <!-- <li><a target="_blank" href="https://my.decoin.io/">Transferring Your DTEP's</a></li> -->
        </ul>

      </div>
      <div class="col-md-2 col-xs-6">
        <h5>{{'Legal' | tx}}</h5>


        <ul>
          <li><a href="../{{langCode}}/fees">{{'Fees' | tx}}</a></li>
          <li><a routerLink="/kyc">{{'KYC' | tx}}</a></li>
          <li><a href="../{{langCode}}/terms">{{'TermsOfSer' | tx}}</a></li>
          <li><a href="../{{langCode}}/privacy">{{'PrivacyPolicy' | tx}}</a></li>
          <li><a href="../{{langCode}}/regulation">{{'Regulation' | tx}}</a></li>
        </ul>

      </div>


      <div class="col-md-2 col-xs-12 foot-multi-lang">
        <h5>{{'Support' | tx}}</h5>
        <!--<div class="dropdown lang-switcher">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown">{{langCode | uppercase}}
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                    x="0px" y="0px" viewBox="0 0 185.344 185.344" style="enable-background:new 0 0 185.344 185.344;"
                    xml:space="preserve" width="12px" height="12px">
                    <g>
                      <g>
                        <path
                          d="M92.672,144.373c-2.752,0-5.493-1.044-7.593-3.138L3.145,59.301c-4.194-4.199-4.194-10.992,0-15.18    c4.194-4.199,10.987-4.199,15.18,0l74.347,74.341l74.347-74.341c4.194-4.199,10.987-4.199,15.18,0    c4.194,4.194,4.194,10.981,0,15.18l-81.939,81.934C98.166,143.329,95.419,144.373,92.672,144.373z"
                          fill="#FFFFFF" />
                      </g>
                    </g>
                  </svg>
                </button> -->
        <!--<ul class="dropdown-menu dropdown-menu-right lang-dropdown">
                  <li *ngFor="let item of langList"><a (click)="changeLanguage(item.Code)">{{item.Name}}</a></li>-->
        <!-- <li class="disabled" *ngFor="let item of langList" ><a>{{item.Name}}</a></li> -->
        <!-- <li *ngFor="let item of langList" [ngClass]="{'disabled':item.Code =='ja'}">
                    <a *ngIf="item.Code =='ja'">{{item.Name}}</a>
                    <a *ngIf="item.Code !='ja'" (click)="changeLanguage(item.Code)">{{item.Name}}</a>
                      </li> -->
        <!-- <li><a href="#" data-code="EN">English</a></li>
                  <li class="disabled"><a href="#" data-code="JA">Japanese</a></li> -->
        <!--</ul>
              </div>-->
        <!-- <form class="foot-search" [hidden]="isMobile">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                  x="0px" y="0px" width="30px" height="20px" viewBox="0 0 80.502 80.502"
                  style="enable-background:new 0 0 80.502 80.502;transform: rotate(90deg);" xml:space="preserve">
                  <g>
                    <g id="Zoom_1_">
                      <g>
                        <path
                          d="M80.502,74.658L58.688,52.742c4.193-5.524,6.691-12.416,6.691-19.885c0-18.104-14.664-32.84-32.69-32.84     S0,14.753,0,32.857c0,18.111,14.664,32.848,32.689,32.848c7.643,0,14.674-2.655,20.247-7.088l21.768,21.867L80.502,74.658z      M32.689,58.312c-13.967,0-25.332-11.419-25.332-25.455c0-14.027,11.365-25.446,25.332-25.446     c13.968,0,25.333,11.419,25.333,25.446C58.021,46.894,46.657,58.312,32.689,58.312z"
                          fill="#FFFFFF"></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </form> -->
        <p class="footer-email"><a href="mailto:support@decoin.io">Support@decoin.io</a></p>
      </div>


    </div>
    <div class="foot-botm">
      <div class="row">
        <div class="col-md-4">
          <p><span>©</span> DTEP Security OU</p>
        </div>
        <div class="col-md-8">
          <ul class="social-media">

            <li>
              <a target="_blank" href="https://t.me/xDECOIN">
                <img src="assets/images/telegram-new.svg" alt="">
              </a>
            </li>
            <li>
              <a target="_blank"
                href="https://www.youtube.com/channel/UCXMqGoNVq-YOepTi_kt7DTg?ab_channel=DECOIN%28DTEP%29">
                <img src="assets/images/youtube-new.svg" alt="">
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.linkedin.com/company/decoin-xde/">
                <img src="assets/images/linkedin.svg" alt="">
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.facebook.com/DECOIN.io">
                <img src="assets/images/facebook.svg" alt="">
              </a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/@decoin_io">
                <img src="assets/images/twitter.svg" alt="">
              </a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/DECOINio">
                <img src="assets/images/git.svg" alt="">
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.reddit.com/user/DECOINio/">
                <img src="https://www.decoin.io/assets/img/reddit.svg" alt="Reddit">
              </a>
            </li>
            <li>
              <a target="_blank" href="https://medium.com/@DECOIN">
                <img src="https://www.decoin.io/assets/img/medium.svg" alt="Medium">
              </a>
            </li>
          </ul>
          <div class="footer-volume">
            {{ dateNow() }} 24H {{'Volume' | tx}} &nbsp;<span>{{ usdtTotalVolume() ? usdtTotalVolume() : '' }}</span>
            USDT
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12 text-center foot-botm-copyright">
      <p><span>©</span> DTEP Security OU</p>
    </div>
  </div>
</footer>
